[Unit]
Description=NeDi syslog daemon
Requires=mariadb.service NetworkManager.service 
# Before=crond.service
After=mariadb.service NetworkManager.service 

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/var/nedi/syslog.pl

[Install]
WantedBy=basic.target
